@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  h1 {
    @apply text-3xl font-bold mt-8 mb-4;
  }

  h2 {
    @apply text-2xl font-semibold mt-6 mb-3;
  }

  h3 {
    @apply text-xl font-semibold mt-5 mb-2;
  }

  p {
    @apply text-base leading-relaxed my-3;
  }

  a {
    @apply text-blue-600 hover:text-blue-800 underline;
  }

  ul {
    @apply list-disc pl-5 my-4;
  }

  ul li {
    @apply mb-2;
  }

  .anchor {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    .chroma {
      .hll {
        background-color: #404040
      }

      .c {
        color: #999999;
        font-style: italic
      }

      /* Comment */
      .err {
        color: #a61717;
        background-color: #e3d2d2
      }

      /* Error */
      .g {
        color: #d0d0d0
      }

      /* Generic */
      .k {
        color: #6ab825;
        font-weight: bold
      }

      /* Keyword */
      .l {
        color: #d0d0d0
      }

      /* Literal */
      .n {
        color: #d0d0d0
      }

      /* Name */
      .o {
        color: #d0d0d0
      }

      /* Operator */
      .x {
        color: #d0d0d0
      }

      /* Other */
      .p {
        color: #d0d0d0
      }

      /* Punctuation */
      .cm {
        color: #999999;
        font-style: italic
      }

      /* Comment.Multiline */
      .cp {
        color: #cd2828;
        font-weight: bold
      }

      /* Comment.Preproc */
      .c1 {
        color: #999999;
        font-style: italic
      }

      /* Comment.Single */
      .cs {
        color: #e50808;
        font-weight: bold;
        background-color: #520000
      }

      /* Comment.Special */
      .gd {
        color: #d22323
      }

      /* Generic.Deleted */
      .ge {
        color: #d0d0d0;
        font-style: italic
      }

      /* Generic.Emph */
      .gr {
        color: #d22323
      }

      /* Generic.Error */
      .gh {
        color: #ffffff;
        font-weight: bold
      }

      /* Generic.Heading */
      .gi {
        color: #589819
      }

      /* Generic.Inserted */
      .go {
        color: #cccccc
      }

      /* Generic.Output */
      .gp {
        color: #aaaaaa
      }

      /* Generic.Prompt */
      .gs {
        color: #d0d0d0;
        font-weight: bold
      }

      /* Generic.Strong */
      .gu {
        color: #ffffff;
        text-decoration: underline
      }

      /* Generic.Subheading */
      .gt {
        color: #d22323
      }

      /* Generic.Traceback */
      .kc {
        color: #6ab825;
        font-weight: bold
      }

      /* Keyword.Constant */
      .kd {
        color: #6ab825;
        font-weight: bold
      }

      /* Keyword.Declaration */
      .kn {
        color: #6ab825;
        font-weight: bold
      }

      /* Keyword.Namespace */
      .kp {
        color: #6ab825
      }

      /* Keyword.Pseudo */
      .kr {
        color: #6ab825;
        font-weight: bold
      }

      /* Keyword.Reserved */
      .kt {
        color: #6ab825;
        font-weight: bold
      }

      /* Keyword.Type */
      .ld {
        color: #d0d0d0
      }

      /* Literal.Date */
      .m {
        color: #3677a9
      }

      /* Literal.Number */
      .s {
        color: #ed9d13
      }

      /* Literal.String */
      .na {
        color: #bbbbbb
      }

      /* Name.Attribute */
      .nb {
        color: #24909d
      }

      /* Name.Builtin */
      .nc {
        color: #447fcf;
        text-decoration: underline
      }

      /* Name.Class */
      .no {
        color: #40ffff
      }

      /* Name.Constant */
      .nd {
        color: #ffa500
      }

      /* Name.Decorator */
      .ni {
        color: #d0d0d0
      }

      /* Name.Entity */
      .ne {
        color: #bbbbbb
      }

      /* Name.Exception */
      .nf {
        color: #447fcf
      }

      /* Name.Function */
      .nl {
        color: #d0d0d0
      }

      /* Name.Label */
      .nn {
        color: #447fcf;
        text-decoration: underline
      }

      /* Name.Namespace */
      .nx {
        color: #d0d0d0
      }

      /* Name.Other */
      .py {
        color: #d0d0d0
      }

      /* Name.Property */
      .nt {
        color: #6ab825;
        font-weight: bold
      }

      /* Name.Tag */
      .nv {
        color: #40ffff
      }

      /* Name.Variable */
      .ow {
        color: #6ab825;
        font-weight: bold
      }

      /* Operator.Word */
      .w {
        color: #666666
      }

      /* Text.Whitespace */
      .mf {
        color: #3677a9
      }

      /* Literal.Number.Float */
      .mh {
        color: #3677a9
      }

      /* Literal.Number.Hex */
      .mi {
        color: #3677a9
      }

      /* Literal.Number.Integer */
      .mo {
        color: #3677a9
      }

      /* Literal.Number.Oct */
      .sb {
        color: #ed9d13
      }

      /* Literal.String.Backtick */
      .sc {
        color: #ed9d13
      }

      /* Literal.String.Char */
      .sd {
        color: #ed9d13
      }

      /* Literal.String.Doc */
      .s2 {
        color: #ed9d13
      }

      /* Literal.String.Double */
      .se {
        color: #ed9d13
      }

      /* Literal.String.Escape */
      .sh {
        color: #ed9d13
      }

      /* Literal.String.Heredoc */
      .si {
        color: #ed9d13
      }

      /* Literal.String.Interpol */
      .sx {
        color: #ffa500
      }

      /* Literal.String.Other */
      .sr {
        color: #ed9d13
      }

      /* Literal.String.Regex */
      .s1 {
        color: #ed9d13
      }

      /* Literal.String.Single */
      .ss {
        color: #ed9d13
      }

      /* Literal.String.Symbol */
      .bp {
        color: #24909d
      }

      /* Name.Builtin.Pseudo */
      .vc {
        color: #40ffff
      }

      /* Name.Variable.Class */
      .vg {
        color: #40ffff
      }

      /* Name.Variable.Global */
      .vi {
        color: #40ffff
      }

      /* Name.Variable.Instance */
      .il {
        color: #3677a9
      }

      /* Literal.Number.Integer.Long */

    }
  }

  @media (prefers-color-scheme: light) {
    .chroma {
      .hll {
        background-color: #ffffcc
      }

      .c {
        color: #999988;
        font-style: italic
      }

      /* Comment */
      .err {
        color: #a61717;
        background-color: #e3d2d2
      }

      /* Error */
      .k {
        color: #000000;
        font-weight: bold
      }

      /* Keyword */
      .o {
        color: #000000;
        font-weight: bold
      }

      /* Operator */
      .cm {
        color: #999988;
        font-style: italic
      }

      /* Comment.Multiline */
      .cp {
        color: #999999;
        font-weight: bold;
        font-style: italic
      }

      /* Comment.Preproc */
      .c1 {
        color: #999988;
        font-style: italic
      }

      /* Comment.Single */
      .cs {
        color: #999999;
        font-weight: bold;
        font-style: italic
      }

      /* Comment.Special */
      .gd {
        color: #000000;
        background-color: #ffdddd
      }

      /* Generic.Deleted */
      .ge {
        color: #000000;
        font-style: italic
      }

      /* Generic.Emph */
      .gr {
        color: #aa0000
      }

      /* Generic.Error */
      .gh {
        color: #999999
      }

      /* Generic.Heading */
      .gi {
        color: #000000;
        background-color: #ddffdd
      }

      /* Generic.Inserted */
      .go {
        color: #888888
      }

      /* Generic.Output */
      .gp {
        color: #555555
      }

      /* Generic.Prompt */
      .gs {
        font-weight: bold
      }

      /* Generic.Strong */
      .gu {
        color: #aaaaaa
      }

      /* Generic.Subheading */
      .gt {
        color: #aa0000
      }

      /* Generic.Traceback */
      .kc {
        color: #000000;
        font-weight: bold
      }

      /* Keyword.Constant */
      .kd {
        color: #000000;
        font-weight: bold
      }

      /* Keyword.Declaration */
      .kn {
        color: #000000;
        font-weight: bold
      }

      /* Keyword.Namespace */
      .kp {
        color: #000000;
        font-weight: bold
      }

      /* Keyword.Pseudo */
      .kr {
        color: #000000;
        font-weight: bold
      }

      /* Keyword.Reserved */
      .kt {
        color: #445588;
        font-weight: bold
      }

      /* Keyword.Type */
      .m {
        color: #009999
      }

      /* Literal.Number */
      .s {
        color: #d01040
      }

      /* Literal.String */
      .na {
        color: #008080
      }

      /* Name.Attribute */
      .nb {
        color: #0086B3
      }

      /* Name.Builtin */
      .nc {
        color: #445588;
        font-weight: bold
      }

      /* Name.Class */
      .no {
        color: #008080
      }

      /* Name.Constant */
      .nd {
        color: #3c5d5d;
        font-weight: bold
      }

      /* Name.Decorator */
      .ni {
        color: #800080
      }

      /* Name.Entity */
      .ne {
        color: #990000;
        font-weight: bold
      }

      /* Name.Exception */
      .nf {
        color: #990000;
        font-weight: bold
      }

      /* Name.Function */
      .nl {
        color: #990000;
        font-weight: bold
      }

      /* Name.Label */
      .nn {
        color: #555555
      }

      /* Name.Namespace */
      .nt {
        color: #000080
      }

      /* Name.Tag */
      .nv {
        color: #008080
      }

      /* Name.Variable */
      .ow {
        color: #000000;
        font-weight: bold
      }

      /* Operator.Word */
      .w {
        color: #bbbbbb
      }

      /* Text.Whitespace */
      .mf {
        color: #009999
      }

      /* Literal.Number.Float */
      .mh {
        color: #009999
      }

      /* Literal.Number.Hex */
      .mi {
        color: #009999
      }

      /* Literal.Number.Integer */
      .mo {
        color: #009999
      }

      /* Literal.Number.Oct */
      .sb {
        color: #d01040
      }

      /* Literal.String.Backtick */
      .sc {
        color: #d01040
      }

      /* Literal.String.Char */
      .sd {
        color: #d01040
      }

      /* Literal.String.Doc */
      .s2 {
        color: #d01040
      }

      /* Literal.String.Double */
      .se {
        color: #d01040
      }

      /* Literal.String.Escape */
      .sh {
        color: #d01040
      }

      /* Literal.String.Heredoc */
      .si {
        color: #d01040
      }

      /* Literal.String.Interpol */
      .sx {
        color: #d01040
      }

      /* Literal.String.Other */
      .sr {
        color: #009926
      }

      /* Literal.String.Regex */
      .s1 {
        color: #d01040
      }

      /* Literal.String.Single */
      .ss {
        color: #990073
      }

      /* Literal.String.Symbol */
      .bp {
        color: #999999
      }

      /* Name.Builtin.Pseudo */
      .vc {
        color: #008080
      }

      /* Name.Variable.Class */
      .vg {
        color: #008080
      }

      /* Name.Variable.Global */
      .vi {
        color: #008080
      }

      /* Name.Variable.Instance */
      .il {
        color: #009999
      }

      /* Literal.Number.Integer.Long */
    }
  }
}